{{extend 'layout.html'}}

<h2>IP</h2>
<!-- Boton enlace -->
<a class="btn btn-primary" href="{{=URL('editar',args=ip.id)}}">EDITAR</a>
<!-- Boton con aviso de confirmacion -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">BORRAR</button>

<!-- Boton de confirmacion Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><p>Atención</p></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Confirmación de borrado
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <a class="btn btn-primary" href="{{=URL('borrar',args=ip.id)}}">Borrar registro</a>
      </div>
    </div>
  </div>
</div>

<!-- Boton enlace -->
<!-- <a class="btn btn-primary" href="{{#=URL('centros','vista',args=ip.centro)}}">CENTRO</a> -->
<!-- Boton enlace -->
<!-- <a class="btn btn-primary" href="{{#=URL('consultorios','ver',args=ip.consultorio)}}">CONSULTORIO</a> -->

<!-- Boton enlace -->
<a class="btn btn-primary" href="{{=URL('rangos','ver',args=ip.rango)}}">RANGO</a>
        

{{=form}}

  